* {
    box-sizing: border-box;
  }
body {
    font-family: 'Righteous', cursive;
    font-family: 'Recursive', sans-serif;
    width: 375px;
   
    background: #E5E5E5;
    border: 1px solid #DBDBDB;
    display: flex;
    margin: 0 auto;
}  
.screens{
    background-color: #FB6B6B;
    width: 375px;
    margin: 0 auto;  
    padding-bottom: 200px; 
}
.contents1 {
    padding-top: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.contents1 img {
    width: 136px;
    height: 161px;
}
.contents1 h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;  
    margin-top: 30px;
    margin-bottom: 30px;
}
.contents1 button {
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}
header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
header img {
    width: 52px;
    height: 60px; 
    margin-right: 15px;
}
header h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    transform: rotate(0.58deg);
}
.deck {
    margin-top: 60px;
    margin-bottom:75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.deck-question {
    width: 300px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.deck-question h3 {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.question {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 375px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h3{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    
}
.deck-respostas {
    width: 300px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.botoes button {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;  
    border-radius: 5px;
    margin-right: 10px;
}
.red{
    background-color: #FF3030;
    width: 85px;
    height: 37px;
}
.blue{
   background-color: #FF922E;
   width: 85px;
   height: 37px;
}
.green{
    background-color: #2FBE34;
    width: 85px;
    height: 37px;
}
.deck-marcacao{
    width: 300px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.marcacao-red{
    color: #FF3030;
    text-decoration-line: line-through;
}
.marcacao-blue{
    color: #FF922E;
    text-decoration-line: line-through;
}
.marcacao-green{
    color: #2FBE34;
    text-decoration-line: line-through;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}